extends layout

block content
    div
        a(href="/passageiro") Cadastro de passageiro
        br
        a(href="/motorista") Cadastro de motorista
        br
        a(href="/corrida") Cadastro de corrida